:root {
    --primary: #0b79d0
}

* {
    box-sizing: border-box
}

body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    background: #f6f8fb;
    color: #222
}

a {
    color: var(--primary);
    text-decoration: none
}

h1,
h2,
h3 {
    margin: 8px 0
}

main {
    padding: 20px
}

.container {
    max-width: 1100px;
    margin: 0 auto
}